<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOUTIQUES</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<!--    <link rel="stylesheet" href="bootstrat/fonts/glyphicons-halflings-regular.eot">-->
    <link rel="stylesheet" type="text/css" href="css/home1.css">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
   <div class="container">
      <div style="padding: 0 190px ">
          <div  style="line-height: 80px">
              <div style="font-size: 65px;font-weight: 700">OUR BOUTIQUES</div>
              <p  style="font-size: 30px;line-height: 30px">We have boutiques all over the world, in the most exclusive locations. Discover our global themes.</p>
          </div>
      </div>
       <div class="fontss">
           <form method="get" action="#" >
               <input  class=" col-md-10" type="text" name="location" placeholder="  Search for city or town...">
               <button class=" col-md-2"  type="button" name="locate" onclick="map()">
                   <span class="glyphicon glyphicon-map-marker"></span></button>
           </form>
       </div>
   </div>

    <div class="container-1" >

        <div  >
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12" src="img/geneva.jpg" />
                    <figcaption>
                        GENEVA
                    </figcaption>
                    <figcaption class="figcaption1">
                        Rue du Rhône 86 , Geneva , 1204
                    </figcaption>
                    <figcaption class="figcaption2">
                        09:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4">
                    <img class="col-md-12" src="img/5thavenue.jpg" />
                    <figcaption>
                        5TH AVENUE
                    </figcaption>
                    <figcaption class="figcaption1">
                        Hublot Boutique 5th Avenue
                    </figcaption>
                    <figcaption class="figcaption2">
                        07:16
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4 ">
                    <img class="col-md-12" src="img/Ginza.jpg" />
                    <figcaption>
                        GINZA
                    </figcaption>
                    <figcaption class="figcaption1">
                        3-5-9, Ginza, Chuo-ku / 中央区銀座3-5-9 , Tokyo / 東京都 , 104-0061                </figcaption>
                    <figcaption class="figcaption2">
                        16:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
        </div>
        <div >
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-sm-12 " src="img/vendome.jpg"/>
                    <figcaption>
                        VENDÔME
                    </figcaption>
                    <figcaption class="figcaption1">
                        10 Place Vendôme , Paris , 75001
                    </figcaption>
                    <figcaption class="figcaption2">
                        09:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12" src="img/londonnbs.jpg" />
                    <figcaption>
                        LONDON
                    </figcaption>
                    <figcaption class="figcaption1">
                        14 New Bond Street , London , W1S 3SX
                    </figcaption>
                    <figcaption class="figcaption2">
                        08:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12" src="img/hongkong.jpg" />
                    <figcaption>
                        HONG KONG HERITAGE
                    </figcaption>
                    <figcaption class="figcaption1">
                        Shop G16 & 17A, G/F, 1881 Heritage, 2A Canton Road, Tsimshatsui, Kowloon , Hong Kong
                    </figcaption>
                    <figcaption class="figcaption2">
                        15:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
        </div>
        <div >
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12"  src="img/Dubai-Mall.png" />
                    <figcaption>
                        DUBAI MALL
                    </figcaption>
                    <figcaption class="figcaption1">
                        The Dubai Mall, Grand atrium, Level-G , Dubai
                    </figcaption>
                    <figcaption class="figcaption2">
                        11:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12" src="img/lasvegasforum.jpg" />
                    <figcaption>
                        LAS VEGAS
                    </figcaption>
                    <figcaption class="figcaption1">
                        The Forum Shops at Caesars. 3500 Las Vegas Blvd. So., Suite D-11 , Las Vegas , NV 89109
                    </figcaption>
                    <figcaption class="figcaption2">
                        00:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
            <a href="#" target="_blank">
                <figure class="col-sm-4 " >
                    <img class="col-md-12" src="img/monaco.jpg" />
                    <figcaption>
                        MONACO
                    </figcaption>
                    <figcaption class="figcaption1">
                        Allée François Blanc , Monaco , 98000
                    </figcaption>
                    <figcaption class="figcaption2">
                        09:41
                    </figcaption>
                    <figcaption class="div-fig"></figcaption>
                </figure>
            </a>
        </div>
    </div>
   <section class="section">
       <div class="container">
           <div id="map"></div>
       </div>

   </section>
<script type="text/javascript">
    function initMap() {
        // The location of Uluru
        var uluru = {lat: 21.0288, lng: 105.7795};
        // The map, centered at Uluru
        var coord = navigator.geolocation.getCurrentPosition(getLocation);
        function getLocation(position) {
            uluru = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            }
            initMap();
        }

        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 24, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }

</script>
   <script async defer
           src="https://maps.googleapis.com/maps/api/js?callback=initMap">
   </script>
</body>
</html>