body{
    background-image: url("../img/thoitiet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
}
h2{
    text-align: center;
    color: #CCCCCC;
    font-size: 30px;
}
.item{
    float: left;
    width: 100%;
    margin: 15px 0px;
    border: 1px solid #ff9000;
    background-color: #f0c36d60;
    padding: 20px;
    position: relative;

}
.item p{
    font-size: 20px;
    color: #FFFFFF;
}
.item.temp{
    font-size: 35px;
}
.item.desc{
    font-size: 16px;
}
.item img{
    position: absolute;
    right: 10px;
    top: 40px;
}
#map{
    width: 100%;
    float: left;
    height: 500px;
}